<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <a th:href="@{/create-blog}"><button type="button" class="btn btn-outline-success">create</button></a>
            <p style="color: red" th:text="${message}"></p>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">stt</th>
                        <th scope="col">author</th>
                        <th scope="col">tiltle</th>
                        <th scope="col">content</th>
                        <th>view</th>
                        <th>edit</th>
                        <th>delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="blog : ${listBlog}">
                        <th scope="row" th:text="${blog.idBlog}"></th>
                        <td th:text="${blog.author}"></td>
                        <td th:text="${blog.title}"></td>
                        <td th:text="${blog.content}"></td>
                        <td><a th:href="@{/view(id=${blog.idBlog})}"><button type="button" class="btn btn-primary"></a>view</button>
                        </td>
                        <td><a th:href="@{/edit(id=${blog.idBlog})}"><button type="button" class="btn btn-success">edit</button></a></td>
                        <td><a th:href="@{/delete(id=${blog.idBlog})}"><button type="button" class="btn btn-danger">edit</button></a></td>
                    </tr>

            </table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>