<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>View product</h3>
<p>
    <a th:href="@{/product}">
        Back to customer list
    </a>
</p>
<div id="detail">
    <div class="cusdetail">
        <label>Name:</label>
        <label th:text="${product.getIdProduct()}"></label>
    </div>
    <div class="cusdetail">
        <label>Email:</label>
        <label th:text="${product.nameProduct}"></label>
    </div>
    <div class="cusdetail">
        <label>Address:</label>
        <label th:text="${product.priceProduct}"></label>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>