<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <h1 class="text-center">View Customer</h1>
    <form  >
      <div class="form-group row" >
        <label for="text" class="col-3 col-form-label">Customer Id:</label>
        <div class="col-9">
          <input  readonly name="text" type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="text" class="col-3 col-form-label">Customer type:</label>
        <div class="col-9">
          <input  readonly name="text" type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="text" class="col-3 col-form-label">Customer name:</label>
        <div class="col-9">
          <input  readonly id="text" name="text" type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="text1" class="col-3 col-form-label">Customer birthday:</label>
        <div class="col-9">
          <input  readonly id="text1" name="text1" type="date" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="text7" class="col-3 col-form-label">Customer Gender:</label>
        <div class="col-9">
          <input  readonly id="text7" name="text1" type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="text2" class="col-3 col-form-label">Customer ID card:</label>
        <div class="col-9">
          <input  readonly id="text2" name="text2" type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="text3" class="col-3 col-form-label">Customer phone:</label>
        <div class="col-9">
          <input  readonly id="text3" name="text3" type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="text4" class="col-3 col-form-label">Customer email:</label>
        <div class="col-9">
          <input  readonly id="text4" name="text4" type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="text5" class="col-3 col-form-label">Customer address:</label>
        <div class="col-9">
          <input  readonly id="text5" name="text5" type="text" class="form-control">
        </div>
      </div>
    </form>
  </div>
  <div class="col-2"></div>
</div>
