<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{homePage :: homeHeader}">
    <style>
        body{
            font-size: 20px;
        }
        select,input{
            width: 200px;
        }
    </style>
</head>
<body id="body">
<div th:insert="~{homePage :: bodyHeadder}">
</div>
<div th:insert="~{homePage :: headerLink}"></div>
<div class="container mt-5" style="text-align: center">
    <div class="col-xl-12">
        <h1>
            Create Contract
        </h1>
    </div>
    <span th:text="${message}" style="color: red"></span>
    <form method="post" th:object="${contract}" th:action="@{/contract/create}" style="text-align: center">
        <table style="margin: 0 auto">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h3 style="font-size: 2rem;height: 40px;color: red">Contract Details</h3>
            </div>

            <tr class="form-group">
                <td><label style="font-size: 2rem;height: 40px;width: 300px">Contract Start Date</label></td>
                <td><input type="date" style="font-size: 2rem;height: 40px;width: 300px"  th:field="*{contractStartDate}"></td>

                <!--                                    <p style="font-size: 20px" class="text-danger">${msgCode}</p>-->

            </tr>

            <tr class="form-group">
                <div>
                    <td><label style="font-size: 2rem;height: 40px;width: 300px">Contract End Date</label></td>
                    <td><input type="date" style="font-size: 2rem;height: 40px;width: 300px" th:field="*{contractEndDate}"></td>
                </div>
            </tr>
            <tr class="form-group" >
                <td><label style="font-size: 2rem;height: 40px;width: 300px">Deposit</label></td>
                <td><input  style="font-size: 2rem;height: 40px;width: 300px" th:field="*{contractDeposit}"></td>
                <!--                                    <p style="font-size: 20px" class="text-danger">${msgBirthday}</p>-->
            </tr>
            <tr class="form-group">
                <td><label style="font-size: 2rem;height: 40px;width: 300px">Total MOney</label></td>
                <td><input id="standardRoom" style="font-size: 2rem;height: 40px;width: 300px" th:field="*{contractTotalMoney}"></td>
                <!--                                    <p  style="font-size: 20px" class="text-danger">${msgIdcard}</p>-->
            </tr>

            <tr class="form-group">
                <td><label style="font-size: 2rem;height: 40px;width: 300px">Employee</label></td>
                <td><select  th:field="*{employee}" style="font-size: 2rem;height: 40px;width: 300px">
                    <option th:each="employeeObj : ${employeeList}"
                            th:value="${employeeObj.employeeId}"
                            th:text="${employeeObj.employeeName}"></option>
                </select>
                </td>
            </tr>
            <tr class="form-group">
                <td><label style="font-size: 2rem;height: 40px;width: 300px">Service</label></td>
                <td><select th:field="*{service}" style="font-size: 2rem;height: 40px;width: 300px">
                    <option th:each="serviceObj : ${serviceList}"
                            th:value="${serviceObj.serviceId}"
                            th:text="${serviceObj.serviceName}"></option>
                </select></td>
            </tr>
            <tr class="form-group">
                <td><label style="font-size: 2rem;height: 40px;width: 300px">Customer</label></td>
                <td><select th:field="*{customer}" style="font-size: 2rem;height: 40px;width: 300px">
                    <option th:each="customerObj : ${customerList}"
                            th:value="${customerObj.customerId}"
                            th:text="${customerObj.customerName}"></option>
                </select></td>
            </tr>
            <tr>
                <td><a type="button" href="customer?action=customers"
                       class="btn btn-outline-secondary">Close</a></td>
                <td><input type="submit" value="Save" class="btn btn-outline-success"/>
                </td>
            </tr>
        </table>
    </form>
</div>
</div>
</div>