<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{homePage :: homeHeader}">
    <style>
        body{
            font-size: 20px;
        }
        select,input{
            width: 200px;
        }
    </style>
</head>
<body id="body">
<div th:insert="~{homePage :: bodyHeadder}">
</div>
<div th:insert="~{homePage :: headerLink}"></div>
<div class="container mt-5" style="text-align: center">
    <div class="col-xl-12">
        <h1>
            Create Service
        </h1>
    </div>
    <form method="post" th:object="${service}" th:action="@{/service/create}" style="text-align: center">
        <table style="margin: 0 auto">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h3 style="font-size: 2rem;height: 40px;color: red">Customers Details</h3>
            </div>
            <tr class="form-group">
                <td><label style="font-size: 2rem;height: 40px;width: 300px">Service Type</label></td>
                <td><select onchange="setIdChange(this.value)" th:field="*{serviceType}" style="font-size: 2rem;height: 40px;width: 300px">
                    <option th:each="type : ${serviceType}"
                            th:value="${type.serviceTypeId}"
                            th:text="${type.serviceTypeName}"></option>
                </select></td>
            </tr>

            <tr class="form-group">
                <td><label style="font-size: 2rem;height: 40px;width: 300px">Service Name</label></td>
                <td><input style="font-size: 2rem;height: 40px;width: 300px"  th:field="*{serviceName}"></td>

                <!--                                    <p style="font-size: 20px" class="text-danger">${msgCode}</p>-->

            </tr>

            <tr class="form-group">
                <div>
                    <td><label style="font-size: 2rem;height: 40px;width: 300px">Area</label></td>
                    <td><input style="font-size: 2rem;height: 40px;width: 300px" th:field="*{serviceArea}"></td>
                </div>
            </tr>
            <tr class="form-group" >
                    <td><label style="font-size: 2rem;height: 40px;width: 300px">Code</label></td>
                    <td><input  style="font-size: 2rem;height: 40px;width: 300px" th:field="*{serviceCode}"></td>
                <!--                                    <p style="font-size: 20px" class="text-danger">${msgBirthday}</p>-->
            </tr>

            <tr class="form-group">
                <td><label style="font-size: 2rem;height: 40px;width: 300px">Max People</label></td>
                <td><select  th:field="*{serviceMaxPeople}" style="font-size: 2rem;height: 40px;width: 300px">
                    <option value="1">Male</option>
                    <option value="0">Famale</option>
                </select>
                </td>
            </tr>
            <tr class="form-group">
                <td><label style="font-size: 2rem;height: 40px;width: 300px">Rent Type</label></td>
                <td><select th:field="*{rentType}" style="font-size: 2rem;height: 40px;width: 300px">
                    <option th:each="type : ${rentType}"
                            th:value="${type.rentTypeId}"
                            th:text="${type.rentTypeName}"></option>
                </select></td>
            </tr>
            <tr class="form-group">
                <td><label style="font-size: 2rem;height: 40px;width: 300px">Standard Room</label></td>
                <td><input id="standardRoom" style="font-size: 2rem;height: 40px;width: 300px" th:field="*{standardRoom}"></td>
                <!--                                    <p  style="font-size: 20px" class="text-danger">${msgIdcard}</p>-->
            </tr>
            <tr class="form-group">
                <td><label style="font-size: 2rem;height: 40px;width: 300px">Description</label></td>
                <td><input id="description" style="font-size: 2rem;height: 40px;width: 300px" th:field="*{description}"></td>
                <!--                                    <p style="font-size: 20px" class="text-danger">${msgPhone}</p>-->
            </tr>
            <tr class="form-group">
                <td><label style="font-size: 2rem;height: 40px;width: 300px">Pool Area</label></td>
                <td><input id="poolArea" style="font-size: 2rem;height: 40px;width: 300px" th:field="*{poolArea}"></td>
                <!--                                    <p style="font-size: 20px" class="text-danger">${msgEmail}</p>-->
            </tr>
            <tr class="form-group">
                <td><label style="font-size: 2rem;height: 40px;width: 300px">Number Of Floor</label></td>
                <td><input id="numberOfFloor" style="font-size: 2rem;height: 40px;width: 300px" th:field="*{numberOfFloor}"></td>
            </tr>
            <tr class="form-group">
                <td><label style="font-size: 2rem;height: 40px;width: 300px">Service Cost</label></td>
                <td><input style="font-size: 2rem;height: 40px;width: 300px"  th:field="*{serviceCost}"></td>

                <!--                                    <p style="font-size: 20px" class="text-danger">${msgCode}</p>-->

            </tr>
            <tr>
                <td><a type="button" href="customer?action=customers"
                       class="btn btn-outline-secondary">Close</a></td>
                <td><input type="submit" value="Save" class="btn btn-outline-success"/>
                </td>
            </tr>
        </table>
    </form>
</div>
</div>
</div>
<script type="text/javascript">
    function setIdChange(id){
        if(id == 2){
            document.getElementById("poolArea").disabled = true;
        }
        if(id == 1){
            document.getElementById("standardRoom").disabled = false;
            document.getElementById("description").disabled = false;
            document.getElementById("poolArea").disabled = false;
            document.getElementById("numberOfFloor").disabled = false;

        }
        if(id == 3){
            document.getElementById("standardRoom").disabled = true;
            document.getElementById("description").disabled = true;
            document.getElementById("poolArea").disabled = true;
            document.getElementById("numberOfFloor").disabled = true;
        }
    }
</script>

</body>
</html>




