<h1 class="col-lg-12 text-center"> List Customer</h1>
<div class="row">
  <div class="col-3">
    <a class="btn btn-info" routerLink="customer/create">Create</a>
  </div>
  <div class="col-6"></div>
  <div class="col-3">
    <form class="d-flex">
      <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</div>
<table class="table  table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Customer Name</th>
<!--    <th scope="col">Customer Type</th>-->
    <th scope="col">Customer Gender</th>
    <th scope="col">Customer ID Card</th>
    <th scope="col">Customer Phone</th>
    <th scope="col">View</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let arrCustomer of customer" >
    <th>{{arrCustomer.id}}</th>
    <th scope="col" >{{arrCustomer.customerName}}</th>
    <td *ngIf="arrCustomer.customerGender=='0'">female</td>
    <td *ngIf="arrCustomer.customerGender=='1'">male</td>
    <th scope="col" >{{arrCustomer.customerIdCard}}</th>
    <th scope="col" >{{arrCustomer.customerPhone}}</th>
    <th scope="col" ></th>
    <th><a class="btn btn-info" [routerLink]="['customer/view',arrCustomer.id]">View</a></th>
    <th><a  class="btn btn-warning" routerLink="customer/edit">Edit</a></th>
    <th>
      <button class="btn btn-danger" data-toggle="modal" data-target="#myModal"

              onclick="sendMoDalDelete(this.getAttribute('dataId'),this.getAttribute('dataName'))">
        Delete
      </button>
    </th>
  </tr>
  </tbody>
</table>
<!-- Modal Delete-->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form  method="get">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Accept delete customer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Do you want to delete: <h5 id="customerName">???</h5>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancel">
          <input type="submit" class="btn btn-danger btn-ok" id="delete" value="Delete">
          <input type="hidden" id="customerId" name="id">
        </div>
      </div>
    </form>

  </div>
</div>
<!--modal delete-->
<script>
  function sendMoDalDelete(id, name) {
    document.getElementById("customerId").value = id;
    document.getElementById("customerName").innerText = name;
  }
</script>
