<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create student</title>
</head>
<body>
    <div th:replace="~{common_student::headerStudent}"></div>
    <form action="/student/create" th:object="${studentObj}" method="post">
        <p>Name: </p>
<!--        <input type="text" th:field="*{name}"  />-->
        <input type="text" th:field="*{name}"  />
        <p>Date of birth: </p>
        <input type="date" th:field="*{dateOfBirth}" />

        <input type="submit" value="Save" />
    </form>
    <div th:replace="~{common_student::footerStudent}"></div>
</body>
</html>
