<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List student</title>
    <link rel="stylesheet" href="/resources/test.css">
</head>
<body>
    <div th:replace="~{common_student::headerStudent}"></div>
    <p style="color: green" th:text="${messageSuccess}"></p>
    <table border="1">
        <tr>
            <th class="colorRed">Id</th>
            <th>Name</th>
            <th>Date of birth</th>
            <th>Action</th>
            <th>Action (Path)</th>
        </tr>
<!--        <c:forEach var="student" items="${listStudent}">-->
            <tr th:each="student : ${listStudent}">
                <td th:text="${student.id}"></td>
                <td th:text="${student.name}"></td>
                <td th:text="${student.dateOfBirth}"></td>
                <td><a th:href="@{/student/detail(id=${student.id})}">Detail student</a></td>
                <td><a th:href="@{/student/detail/{id}(id=${student.id})}">Detail student</a></td>
            </tr>
<!--        </c:forEach>-->
    </table>
    <div th:replace="~{common_student::footerStudent}"></div>
</body>
</html>
