* {
    margin: 0;
    padding: 0
}

img.img-fluid.logo {
    width: 94px;
    height: auto;
}

.jumbotron.jumbotron-fluid.hinhnen {
    background-image: url(images/Surface_Home_Mosic_Fall_20_LaptopG_en-us_V1.jpg);
    background-size: cover;
}

img {
    width: 100%;
    height: 240px;
}