*{margin: 0;padding: 0}
.sothich {
    background-color: aliceblue;
    text-align: center;

}
.sothich h1{
    background: palevioletred;
    color: ghostwhite;

}
body{
    width: 520px;
    height: 450px;
    text-align: center;
}
