<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Book</title>
</head>
<body>
  <h1>Book Information</h1>
  <form th:action="@{/borrow-book/book}" method="post" th:object="${book}">
      <input type="hidden" th:field="*{id}">
    <table border="1">
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Quantity:</td>
            <td><input type="text" th:field="*{quantity}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Borrow"></td>
        </tr>
    </table>
  </form>
</body>
</html>